<div class="main-card">
    <div class="container-fluid">
        <h1>About me</h1>
        <p>
            I'm a software developer who likes to program, both for work and as a hobby.
            What I like the most is to search for memory related bugs, develop new features for existing software,
            program automated tests for my own features, and create scripts to facilitate my tasks.
        </p>

        <div class="row">
            <div *ngFor="let section of sections"
                 class="col">
                <h4>{{ section.name }}</h4>
                <p>
                <span *ngFor="let item of section.items"
                      class="badge badge-pill"
                      [ngClass]="section.class">{{ item }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
