
<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Hello!</h3>
        <nav class="nav nav-masthead">
            <a class="nav-link"
               routerLink="/"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a class="nav-link"
               routerLink="/about"
               routerLinkActive="active">About</a>
            <a class="nav-link"
               routerLink="/contact"
               routerLinkActive="active">Contact</a>

            <a class="nav-link"
               href="https://linkedin.com/in/danielwilches"
               target="_blank">
                <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a class="nav-link"
               href="https://www.behance.net/dwilches"
               target="_blank">
                <i class="fa fa-behance-square fa-2x" aria-hidden="true"></i>
            </a>
        </nav>
    </div>
</div>
